.container {
  margin: 20px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive-iframe {
  width: 455px;
  height: 805px;
  border-radius: 10%;
}

.inner-flex {
display: flex;
flex-direction: column;
align-items: center;
}


.teksti {
text-align: center;
font-size: 15px;
}