.html {
background-color: grey;
}

.navbar-1 {
background-color: pink;
}

.grid-item {
font-size: 25px;
font-family: arial;
border: solid black;
color: white;
background: linear-gradient(45deg, #8B0000, #FF1493);
border-radius: 15px;
gap: 15px;
}

.small {
font-size: 8px;
}

.flex.container-1 {
display: flex;
align-items: center;
justify-content: center;
}

.flex-container-2 {
display: flex;
}

.flex-container-3 {
display: flex;
justify-content: right;
}

.koti {
width: 30px;
position: relative;
top: 10px;
left: 10px;
}