.title{
text-align: right;
}

.logo {
width: 100px;
}

.navitem {
border: solid;
color: blue;
padding: 2px 5px 2px 5px;
margin: 10px 10px 10px 10px;
text-align: center;
}

.small {
font-size: 8px;
}

.card-bg {
background-color: lightSkyBlue;
color: white;
}
