.cardheader1 {
background-color: #cc0066;
margin-top: 4px;
}

.cardheader2 {
background-color: #087cc4;
margin-top: 4px;
}
.cardheader3 {
background-color: #4d9900;
margin-top: 4px;
}

.card-bg1 {
background-color: #FF69B4;
color: white;
}

.card-bg2 {
background-color: #87cefa;
color: white;
align-items: center;
}

.card-bg3 {
background-color: #7CFC00;
color: white;
align-items: center;
}

.card-txt {
font-size: 27px;
text-align: center;
width: 100%;
background-color: #a6a6a6;
}

.cardimage {
width: 75%;
margin-bottom: 5px;
}

.flex-cont-html {
display: flex;
justify-content: center;
}

.content {
width: 95%;
background: linear-gradient(45deg, #F5B7B1, #F1948A, #F5B7B1);
}

header {
margin-top: 10px;
background-color: #F1948A;
}

.title {
text-align: right;
font-size: 35px;
}

.logo {
height: 175px;
width: 150px;
transform: rotate(10deg);
margin-right: -10;
}

.paateksti {
font-size: 30px;
text-align: center;
border: solid 0.2px;
background-color: #FFFAF0;
margin: 10px 0 7px 7px;
padding: 2px;
}

.navitem {
color: blue;
font-size: 20px;
font-weight: bold;
padding: 2px 5px 2px 5px;
margin: 10px 10px 10px 10px;
text-align: left;
}

.grid-container {
display: grid;
grid-template-areas: "item2 cards";
}

.cards {
grid-area: cards;

.small {
font-size: 15px;
}
