html {
width: 95%;
margin-left: 7px;
margin-right: 7px;
background: linear-gradient(45deg, #F5B7B1, #F1948A, #F5B7B1);
}

.h-f-colors {
background: linear-gradient(45deg, #fcc623, #ffcc5c);
}

.inner-flex {
display: flex;
flex-direction: column;
align-items: center;
}

.testi {
margin: 0 15px 10px 15px;
background-color: white;
}

header {
margin-top: 10px;
}

.title{
text-align: right;
}

.logo {
height: 175px;
width: 150px;
transform: rotate(10deg);
margin-right: -10;
}


.paateksti {
font-size: 30px;
margin: 10px 0 7px 7px;
padding: 3px;
}

.navitem {
color: blue;
font-weight: bold;
padding: 2px 5px 2px 5px;
margin: 10px 10px 10px 10px;
text-align: left;
}

.tekstiruutu {
border: solid 0.1px;
background-color: #f0eee9;
}

.small {
font-size: 10px;
}
