html {
width: 450px;
height: 800px;
}

body {
width: 450px;
height: 800px;
}

.inner-flex {
display: flex;
flex-direction: column;
align-items: center;
}

.big-container {
display: flex;
flex-direction: column;
align-items: center;
}

.timer-container {
position: absolute;
top: 20px;
margin-bottom: 10px;
border: solid;
border-radius: 10% 0 10% 0;
background-color: #f0eee9;
padding: 7px 5px 7px 5px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.inner-flex {
display: flex;
flex-direction: column;
align-items: center;
}

h1 {
  margin-bottom: 50px;
}

.count-digit {
  color: black;
  font-size: 35px;
}

.separator {
  font-size: 35px;
}

.options {
Font-size: 12px;
  margin-top: 50px;
  display: flex;
  gap: 3px;
}

.kuvat {
}

.kuvat-container {
display: flex;
flex-direction: column;
align-items: center;
}

.mozart {
margin-top: 40px;
width: 450px;
height: 800px;
border-radius: 10%;
}

#myDIV {
display: none;
}

#congrats {
display: none;
}

.back {
position: absolute;
top: 700px;
left: 100px;
}
