#overlay {
  color: white;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
}

html {
width: 450px;
height: 800px;
}

body {
width: 450px;
height: 800px;
}

.inner-flex {
display: flex;
flex-direction: column;
align-items: center;
}

.big-container {
display: flex;
flex-direction: column;
align-items: center;
}

.timer-container {
position: absolute;
top: 20px;
margin-bottom: 10px;
border: solid;
border-radius: 10% 0 10% 0;
background-color: #f0eee9;
padding: 7px 5px 7px 5px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.inner-flex {
display: flex;
flex-direction: column;
align-items: center;
}

h1 {
  margin-bottom: 50px;
}

.count-digit {
  color: black;
  font-size: 35px;
}

.separator {
  font-size: 35px;
}

.options {
Font-size: 12px;
  margin-top: 50px;
  display: flex;
  gap: 3px;
}

.kuvat {
}

.kuvat-container {
display: flex;
flex-direction: column;
align-items: center;
}

.mozart {
margin-top: 40px;
width: 450px;
height: 800px;
border-radius: 10%;
}

#myDIV {
display: none;
}

#congrats {
display: none;
}

.back {
position: absolute;
top: 775px;
left: 150px;
}

.image {
width: 70%;
z-index: 3;
display: flex;
flex-direction: column;
align-items: center;
}


.onnea {
text-align: center;
font-size: 30px;
font-weight: bold;
}