.button {
padding: 2px 4px 2px 4px;
font-weight: bold;
}

.inner-flex {
display: flex;
flex-direction: column;
align-items: center;
}

.insert {
font-size: 20px;
font-style: italic;
text-align: center;
}

.box {
margin-top: 80px;
}

.intro {
font-size: 35px;
font-weight: bold;
}

.content {
background-color: #f5f5f5;
width: 85%;
flex-basis: 100%;
box-shadow: 0 0 15px 0px #000;
  clip-path: inset(0px -15px 0px -15px);

.phrase {
margin-top: 15px;
font-family: 'Brush Script MT';
font-size: 45px;
}