html {
width: 510px;
height: 350px;
}

.peli {
border: solid;
display: flex;
flex-direction: column;
align-items: center;
}

.kuva {
width: 450px;
height: 350px;
}

.button1 {
font-size: 18px;
padding: 10px;
position: absolute;
top: 220px;
left: 50px;
}

.button2 {
font-size: 18px;
padding: 10px;
position: absolute;
top: 280px;
left: 50px;
}